body{
    text-align: center;
}
.btn-cont{
    display: flex;
    justify-content: center;
    
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.flash-btn{
    background-color: white;
}
